<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EZTier.LogServiceHost.Properties.Settings.DWH2008ConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS2008;Initial Catalog=DWH2008;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- To give access in Vista: 
                netsh http add urlacl url=http://+:8168/ user=userName 
  -->

  <system.serviceModel>
    <services>
      <service name="EZTier.LogServiceHost.LoggerService"  behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>

            <add baseAddress="http://localhost:8168/LoggerService"/>
          </baseAddresses>
        </host>
        <endpoint address="" contract="EZTier.LogServiceHost.ILoggerService" binding="webHttpBinding"
                  behaviorConfiguration="RestBehavior"
                  />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"
                           httpGetUrl="http://localhost:8168/LoggerService"
                           />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="100000"  />
    </diagnostics>

  </system.serviceModel>

  <!--
  <system.diagnostics >
    <sharedListeners>
      <add name="sharedListener"
     type="System.Diagnostics.XmlWriterTraceListener"
     initializeData="urilistener.svclog" />
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" >
        <listeners>
          <add name="sharedListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="sharedListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>