<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EZTier.MVNet.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="EZTier.MVNet.Monitor.Properties.Settings.DWH2008ConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS2008;Initial Catalog=DWH2008;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <applicationSettings>
    <EZTier.MVNet.Monitor.Properties.Settings>
      <setting name="LOG_SERVICE_EXECUTABLE_PATH" serializeAs="String">
        <value>C:\apps\EZTier.MVNet.Loader\EZTier.MVNet.Monitor\LogServiceHost\LogServiceHost\bin\Debug\LogServiceHost.exe</value>
      </setting>
    </EZTier.MVNet.Monitor.Properties.Settings>
  </applicationSettings>
  
  <system.serviceModel>
    <bindings />
    
    <!-- bindingConfiguration="WebHttpBinding_ILoggerService" -->
    <client />
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="LoggerServiceBehavior">
          <webHttp/>
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>